.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.main-container h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.details-container {
  margin-top: 20px;
  text-align: center;
}

.details-container h1 {
  font-size: 32px;
  margin-bottom: 8px;
}


.details-container h2 {
  font-size: 20px;
  color: #ffffff;
}

.details-container h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

error-message {
  color: red;
  font-size: 20px;
}
