

.card {
  width: 256px;
  height: 315px;
  padding: 7px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  border-radius: 10%;
}

.cardimg {
  width: 226px;
  height: 163px;
  object-fit: contain;
  border-radius: 31px;
  margin-bottom: 2px;
}

.namedog {
  margin: 0;
  font-size: 16px;
  font-family: 'dede';
  background-color: orange;
}

.dogstex{
   width: 250px; 
  height: 360px;
  margin: 0;
  
  color: white;
  border: 3px solid #ffa23e;
  border-end-end-radius: 50%;
  font-family: 'dede';
}
.dogstex2{
  width: 250px; 
 height: 360px;
 margin: 0;
 color: white;
 font-family: 'dede';
}
@font-face {
  font-family: 'dede';
    src: url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap') format('woff2'),
    url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap') format('woff');
  }
