/* Paginate.css */

.paginate {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: #333;
  color: #fff;
  padding: 7px;
  flex-direction: row;
  flex-wrap: nowrap;
}
  
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 15px;
  }
  
  
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    font-size: 14px;
  }
  