
.landing-page {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./welcomedog.jpg");
  background-size: cover;
  background-position: center;
  color: #000000;
}

.landing-page h1 {
  font-size: 36px;
  margin-bottom: 70px;
}

.landing-page button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.landing-page button:hover {
  background-color: #0056b3;
}

