
.landing-page {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./welcomedog.jpg");
  background-size: cover;
  background-position: center;
  color: #000000;
}

.landing-page h1 {
  font-size: 36px;
  margin-bottom: 70px;
}

.boton {
  padding: 27px 27px;
  border-radius: 9px;
  background-color: transparent;
  background-image: url(C:\Users\USUARIO\OneDrive\Desktop\PI\PI-Dogs-main\PI-Dogs-main\client\src\Pages\Landing\paw-solid.svg);
  background-repeat: no-repeat;

}

.landing-page button:hover {
  background-color: transparent;
  padding: 32px 32px;
}

