.filter-options {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.barr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  border-radius: 21px;
  padding: 5px;
  background-color: #212121;
  box-shadow: 12px 25px 1px rgba(0, 0, 0, 0.1);
}
.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.selectmultiple {
  height: 53px;
  width: 193px;
  border: 4px solid #ffa23e;
  border-radius: 20px;
  margin: 12px;
  padding: 5px;
  color: white;
  background-color: #212121;
}
select{
  border-radius: inherit;
  font-size: 20px;
  background-color: #f5c48f;
}
select :hover{
  background-color: #0885b2;

}
.reset {
  display: flex;
  background-color: #FFAE36;
  border-radius: 39px;
  padding: 22px 7px;
  cursor: pointer;
  color: #fff;
  margin-top: 2px;
  background-image: url("C:\Users\USUARIO\OneDrive\Desktop\PI\PI-Dogs-main\PI-Dogs-main\client\src\Components\Filtro y Ordenado\rotate-solid.svg");
  background-repeat: no-repeat;
}
.reset :hover{
  background-color: #64adfc
}



/* Estilos para los options de los select de tipo de búsqueda */
select[name="tipo-busqueda"] option,
select[name="orden-alfabetico"] option,
select[name="orden-por-peso"] option {
  font-size: 14px;
}
