.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #0885b2;
}

.pagination {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.paginate {
  margin: 0 5px;
}
